main {
    width: 100%;
    margin: 40px auto;
}
table {
    border-spacing: 0;
    width: 100%;
    font-family: Microsoft JhengHei;
    font-weight: bold;
}
.PASS{
    background-color: rgba(31, 255, 6, 0.5);
    color:rgb(44, 138, 0);
    font-weight: bold;
}
.Failed{
    background-color: rgba(235, 97, 63, 0.5);
    color:rgb(150, 1, 1);
    font-weight: bold;
}
.WARNING{
    background-color: rgba(251, 255, 0, 0.5);
    color:rgb(117, 119, 0);
    font-weight: bold;
}
tr {
    text-align: left;
}
th {
    padding: 1px;
    text-align: center;
}
td{
    max-width: 150px;
    max-height: 450px;
}
td:nth-child(3){
    text-align: center;
    max-width: 190px;
    max-height: : 450px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 19px;
    border-bottom : 0px;
}
tr:nth-child(6) td:nth-child(3){
    border-top : 0px;
}
tr:nth-child(3) td:nth-child(3){
    height: auto;
    display: table-cell;
    overflow: visible;
}
tr:nth-child(5) td:nth-child(3){
    border-top : 0px;
    height: auto;
    display: table-cell;
    overflow: visible;
}
table thead {
    background-color: #2894FF;
    color: white;
}
table thead th:first-child {
    border-radius: 5px 0 0 0;
}
table thead th:last-child {
    border-radius: 0 5px 0 0;

}
table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}
table tbody td:nth-child(3):hover {
    /*font-size: 13px;
    padding: 5px;*/
    height: auto;
    display: table-cell;
    overflow: visible;
    color: 	#000000;
}
table tbody td:nth-child(2):hover + td:nth-child(3){
    /*font-size: 13px;
    padding: 5px;*/
    height: auto;
    display: table-cell;
    overflow: visible;
    color: 	#000000;
}
table tbody tr:nth-child(2) td:nth-child(1):hover {
    /*font-size: 13px;
    padding: 5px;*/
    overflow: visible;
    color: 	#000000;
}
table tbody tr:nth-child(4) td:nth-child(1):hover {
    /*font-size: 13px;
    padding: 5px;*/
    overflow: visible;
    color: 	#000000;
}
table tbody tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}
